## Title: "Predicting Comprehensive Knowledge about HIV/AIDS using a Machine Learning Approach"

Comprehensive Knowledge about HIV/AIDS is a composite outcome of the following:
1. can get hiv by sharing food with person who has aids (v754wp)
2. a healthy looking person can have hiv (v756)
3. reduce risk of getting hiv: always use condoms during sex (v754cp)
4. reduce risk of getting hiv: have 1 sex partner only, who has no other partners (v754dp)
5. can get hiv from mosquito bites (v754jp)

In [1]:
# Importing necessary libraries for data manipulation and visualization
import matplotlib.pyplot as plt  
import numpy as np  
import pandas as pd  
import seaborn as sns  

import pyreadstat  
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OrdinalEncoder

In [2]:
data= pd.read_stata("D:\\AAU PHDS\\Semister Three\\Advanced Data Analytics\\Proposal\\DATASET\\women15_49.dta")

In [3]:
data

,caseid,v001,v002,v005,v012,v013,v021,v024,v025,v026,...,v847,v848,v856,v857a,v857b,v857c,v857d,v858,s1058,s1056
0,00010017 02,1,17,5087433,38,35-39,1,oromia,rural,NaN,...,NaN,NaN,NaN,no,yes,no,no,no,none,no
1,00010017 03,1,17,5087433,17,15-19,1,oromia,rural,NaN,...,NaN,NaN,NaN,no,yes,yes,no,yes,NaN,NaN
2,00010018 02,1,18,5087433,42,40-44,1,oromia,rural,NaN,...,NaN,NaN,NaN,no,no,no,no,no,none,no
3,00010025 02,1,25,5087433,46,45-49,1,oromia,rural,NaN,...,NaN,NaN,NaN,yes,no,yes,yes,no,none,no
4,00010025 10,1,25,5087433,17,15-19,1,oromia,rural,NaN,...,NaN,NaN,NaN,no,yes,no,no,yes,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15678,06450419 04,645,419,685395,17,15-19,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,yes,yes,don't know/not sure/depends,don't know/not sure/depends,no,NaN,NaN
15679,06450449 02,645,449,685395,33,30-34,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,yes,no,no,no,no,1.0,yes
15680,06450464 02,645,464,685395,25,25-29,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,yes,no,no,no,no,none,yes
15681,06450464 04,645,464,685395,18,15-19,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,yes,yes,no,no,no,NaN,NaN
15682,06450485 02,645,485,685395,21,20-24,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,no,yes,no,don't know/not sure/depends,yes,NaN,yes

In [4]:
#Import label names from STATA
hiv, meta = pyreadstat.read_dta("D:/AAU PHDS/Semister Three/Advanced Data Analytics/Proposal/DATASET/women15_49.dta")
meta_data = dict(zip(meta.column_names, meta.column_labels))
meta_data

{'caseid': 'case identification',
 'v001': 'cluster number',
 'v002': 'household number',
 'v005': "women's individual sample weight (6 decimals)",
 'v012': "respondent's current age",
 'v013': 'age in 5-year groups',
 'v021': 'primary sampling unit',
 'v024': 'region',
 'v025': 'type of place of residence',
 'v026': 'de facto place of residence',
 'v102': 'type of place of residence',
 'v103': 'childhood place of residence',
 'v104': 'years lived in place of residence',
 'v105': 'type of place of previous residence',
 'v105a': 'region of previous residence',
 'v106': 'highest educational level',
 'v107': 'highest year of education',
 'v120': 'household has: radio',
 'v121': 'household has: television',
 'v130': 'religion',
 'v131': 'ethnicity',
 'v151': 'sex of household head',
 'v152': 'age of household head',
 'v153': 'household has: telephone (land-line)',
 'v155': 'literacy',
 'v156': 'ever participated in a literacy program outside of primary',
 'v157': 'frequency of reading newspaper or magazine',
 'v158': 'frequency of listening to radio',
 'v159': 'frequency of watching television',
 'v169a': 'owns a mobile telephone',
 'v170': 'has an account in a bank or other financial institution',
 'v171a': 'use of internet',
 'v171b': 'frequency of using internet last month',
 'v473a': 'read consent statement - hiv',
 'v473b': 'result of measurement - hiv',
 'v754bp': 'reduce risk of getting hiv: do not have sex at all',
 'v754cp': 'reduce risk of getting hiv: always use condoms during sex',
 'v754dp': 'reduce risk of getting hiv: have 1 sex partner only, who has no other partners',
 'v754jp': 'can get hiv from mosquito bites',
 'v754wp': 'can get hiv by sharing food with person who has aids',
 'v756': 'a healthy looking person can have hiv',
 'v774a': 'hiv transmitted during pregnancy',
 'v774b': 'hiv transmitted during delivery',
 'v774c': 'hiv transmitted by breastfeeding',
 'v775': 'knows someone who has, or is suspected of having, hiv',
 'v777': 'would want hiv infection in family to remain secret',
 'v777a': 'would be ashamed if someone in the family had hiv',
 'v779': 'a female teacher infected with hiv, but is not sick, should be allowed to contin',
 'v781': 'ever been tested for hiv',
 'v783': 'know a place to get hiv test',
 'v784a': 'place for hiv test: government hospital',
 'v784b': 'place for hiv test: cs public',
 'v784c': 'place for hiv test: cs public',
 'v784d': 'place for hiv test: cs public',
 'v784e': 'place for hiv test: cs public',
 'v784f': 'place for hiv test: cs public',
 'v784g': 'place for hiv test: cs public',
 'v784h': 'place for hiv test: cs public',
 'v784i': 'place for hiv test: cs public',
 'v784j': 'place for hiv test: cs public',
 'v784k': 'place for hiv test: private hospital/clinic/doctor',
 'v784l': 'place for hiv test: cs private',
 'v784m': 'place for hiv test: cs private',
 'v784n': 'place for hiv test: cs private',
 'v784o': 'place for hiv test: cs private',
 'v784p': 'place for hiv test: cs private',
 'v784q': 'place for hiv test: cs private',
 'v784r': 'place for hiv test: cs private',
 'v784s': 'place for hiv test: cs private',
 'v784t': 'place for hiv test: cs other',
 'v784u': 'place for hiv test: cs other',
 'v784v': 'place for hiv test: cs other',
 'v784x': 'place for hiv test: other',
 'v823': 'can get hiv by witchcraft or supernatural means',
 'v824': 'drugs to avoid hiv transmission to baby during pregnancy',
 'v825': 'would buy vegetables from vendor with hiv',
 'v826': 'last time tested for hiv',
 'v826a': 'months ago most recent hiv test',
 'v827': 'last hiv test: on your own, offered or required',
 'v828': 'received result from last hiv test',
 'v829': 'place where last hiv test was taken',
 'v837': 'heard of drugs to help hiv infected people live longer',
 'v838a': 'during antenatal visit talked about: hiv transmitted mother to child',
 'v838b': 'during antenatal visit talked about: things to do to prevent getting hiv',
 'v838c': 'during antenatal visit talked about: getting tested for hiv',
 'v839': 'offered hiv test as part of antenatal visit',
 'v839a': 'offered hiv test between the time went for delivery and before baby was born',
 'v840': 'tested for hiv as part of antenatal visit',
 'v840a': 'tested for hiv between the time went for delivery and before baby was born',
 'v841': 'got results of hiv test as part of antenatal visit',
 'v841a': 'got results of hiv test when tested before baby was born',
 'v842': 'place were hiv test was taken as part of antenatal visit',
 'v843': 'tested for hiv since antenatal visit test',
 'v844': 'knows someone denied health services for having, or suspected of having, hiv; in',
 'v845': 'knows someone denied social events for having, or suspected of having, hiv; in l',
 'v846': 'knows someone verbally abused for having, or suspected of having, hiv; in last 1',
 'v847': 'people with hiv should be ashamed of themselves',
 'v848': 'people with hiv should be blamed for bringing disease to community',
 'v856': 'knowledge and use of hiv test kits',
 'v857a': 'children with hiv should be allowed to attend school with children without hiv',
 'v857b': 'people hesitate to take hiv test because reaction of other people if positive',
 'v857c': 'people talk badly about people with or believed to have hiv',
 'v857d': 'people with or believed to have hiv lose respect from other people',
 'v858': 'would be afraid to get hiv from contact with saliva from infected person',
 's1058': 'how many of your children under 15 years old have been tested for hiv?',
 's1056': 'have you had a pre-marital hiv testing as a couple or individual,'}

In [5]:
# Access the value labels for all variables
value_labels = meta.variable_value_labels

# List all variables with value labels
for var, labels in value_labels.items():
    print(f"Variable: {var}, Labels: {labels}")

Variable: v013, Labels: {1: '15-19', 2: '20-24', 3: '25-29', 4: '30-34', 5: '35-39', 6: '40-44', 7: '45-49'}
Variable: v024, Labels: {1: 'tigray', 2: 'afar', 3: 'amhara', 4: 'oromia', 5: 'somali', 6: 'benishangul', 7: 'snnpr', 8: 'gambela', 9: 'harari', 10: 'addis adaba', 11: 'dire dawa'}
Variable: v025, Labels: {1: 'urban', 2: 'rural'}
Variable: v026, Labels: {0: 'capital, large city', 1: 'small city', 2: 'town', 3: 'countryside'}
Variable: v102, Labels: {1: 'urban', 2: 'rural'}
Variable: v103, Labels: {0: 'capital, large city', 1: 'city', 2: 'town', 3: 'countryside', 4: 'abroad'}
Variable: v104, Labels: {95: 'always', 96: 'visitor', 97: 'inconsistent', 98: "don't know"}
Variable: v105, Labels: {0: 'capital, large city', 1: 'city (urban areas)', 2: 'town (rural areas)', 3: 'countryside', 4: 'abroad'}
Variable: v105a, Labels: {1: 'tigray', 2: 'afar', 3: 'amhara', 4: 'oromia', 5: 'somali', 6: 'benishangul-gumuz', 7: 'snnpr', 8: 'gambela', 9: 'harari', 10: 'addis ababa', 11: 'dire dawa', 12: 'special enumeration area', 96: 'outside of ethiopia'}
Variable: v106, Labels: {0: 'no education', 1: 'primary', 2: 'secondary', 3: 'higher'}
Variable: v107, Labels: {0: 'no years completed at level v106'}
Variable: v120, Labels: {0: 'no', 1: 'yes', 7: 'not a dejure resident'}
Variable: v121, Labels: {0: 'no', 1: 'yes', 7: 'not a dejure resident'}
Variable: v130, Labels: {1: 'orthodox', 2: 'catholic', 3: 'protestant', 4: 'muslin', 5: 'traditional', 96: 'other'}
Variable: v131, Labels: {1: 'amhara', 2: 'oromo', 3: 'tigrie', 4: 'affar', 5: 'somalie', 6: 'guragie', 7: 'sidama', 8: 'nuwer', 9: 'welaita', 10: 'berta', 11: 'kefficho', 12: 'gumuz', 13: 'hadiya', 14: 'gamo', 15: 'silte', 16: 'anyiwak', 17: 'kembata', 18: 'gedeo', 19: 'agew-awi', 20: 'dawuro', 21: 'debase/gewada', 22: 'derashe', 23: 'dimi', 24: 'dizi', 25: 'donga', 26: 'dime', 27: 'fedashe', 28: 'agew hamyra', 29: 'gebato', 30: 'alaba', 31: 'gedicho', 32: 'gidole', 33: 'goffa', 34: 'argoba', 35: 'ari', 36: 'guagu', 37: 'arborie', 38: 'harari', 39: 'hamer', 40: 'irob', 41: 'bacha', 42: 'basketo', 43: 'konta', 44: 'komo', 45: 'konso', 46: 'kore', 47: 'koyego', 48: 'kunama', 50: 'karo', 51: 'kusumie', 52: 'malie', 53: 'mao', 54: 'mareko', 55: 'mashola', 56: 'mere', 57: "me'enite", 58: 'messengo', 59: 'mejenger', 60: 'mossiye', 61: 'mursi', 62: 'murle', 63: 'nao', 64: 'bench', 65: 'nyangatom', 66: 'bodi', 67: 'oida', 68: 'qebena', 69: 'qechem', 70: 'qewama', 71: 'shekecho', 72: 'sheko', 73: 'shinasha', 74: 'brayle', 75: 'burji', 76: 'bena', 77: 'surma', 78: 'she', 79: 'chara', 80: 'timebaro', 81: 'tsemay', 82: 'upo', 83: 'dasenech', 84: 'werji', 85: 'yem', 86: 'zeyese', 87: 'zelmam', 88: 'other ethiopian ethinic group', 92: 'from different parents', 93: 'other foreigners', 96: 'other', 98: "don't know", 99: 'missing'}
Variable: v151, Labels: {1: 'male', 2: 'female'}
Variable: v152, Labels: {97: '97+', 98: "don't know"}
Variable: v153, Labels: {0: 'no', 1: 'yes', 7: 'not a dejure resident'}
Variable: v155, Labels: {0: 'cannot read at all', 1: 'able to read only parts of sentence', 2: 'able to read whole sentence', 3: 'no card with required language', 4: 'blind/visually impaired'}
Variable: v156, Labels: {0: 'no', 1: 'yes'}
Variable: v157, Labels: {0: 'not at all', 1: 'less than once a week', 2: 'at least once a week', 3: 'almost every day'}
Variable: v158, Labels: {0: 'not at all', 1: 'less than once a week', 2: 'at least once a week', 3: 'almost every day'}
Variable: v159, Labels: {0: 'not at all', 1: 'less than once a week', 2: 'at least once a week', 3: 'almost every day'}
Variable: v169a, Labels: {0: 'no', 1: 'yes'}
Variable: v170, Labels: {0: 'no', 1: 'yes'}
Variable: v171a, Labels: {0: 'never', 1: 'yes, last 12 months', 2: 'yes, before last 12 months', 3: "yes, can't establish when"}
Variable: v171b, Labels: {0: 'not at all', 1: 'less than once a week', 2: 'at least once a week', 3: 'almost every day'}
Variable: v473a, Labels: {1: 'granted', 2: 'parent/other responsible refused', 3: 'respondent refused', 4: 'sample not tested/lost/not enough dbs', 5: 'minor not present', 6: 'sample not tested/lost/not enough dbs'}
Variable: v473b, Labels: {1: 'blood taken', 2: 'not present', 3: 'refused', 4: 'sample not tested/lost/damaged/insufficient', 5: 'not enough dbs to complete protocol', 6: 'other'}
Variable: v754bp, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v754cp, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v754dp, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v754jp, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v754wp, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v756, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v774a, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v774b, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v774c, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v775, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v777, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v777a, Labels: {0: 'disagree', 1: 'agree', 8: "don't know/not sure/depends"}
Variable: v779, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v781, Labels: {0: 'no', 1: 'yes'}
Variable: v783, Labels: {0: 'no', 1: 'yes'}
Variable: v784a, Labels: {0: 'no', 1: 'yes'}
Variable: v784b, Labels: {0: 'no', 1: 'yes'}
Variable: v784c, Labels: {0: 'no', 1: 'yes'}
Variable: v784d, Labels: {0: 'no', 1: 'yes'}
Variable: v784e, Labels: {0: 'no', 1: 'yes'}
Variable: v784f, Labels: {0: 'no', 1: 'yes'}
Variable: v784g, Labels: {0: 'no', 1: 'yes'}
Variable: v784h, Labels: {0: 'no', 1: 'yes'}
Variable: v784i, Labels: {0: 'no', 1: 'yes'}
Variable: v784j, Labels: {0: 'no', 1: 'yes'}
Variable: v784k, Labels: {0: 'no', 1: 'yes'}
Variable: v784l, Labels: {0: 'no', 1: 'yes'}
Variable: v784m, Labels: {0: 'no', 1: 'yes'}
Variable: v784n, Labels: {0: 'no', 1: 'yes'}
Variable: v784o, Labels: {0: 'no', 1: 'yes'}
Variable: v784p, Labels: {0: 'no', 1: 'yes'}
Variable: v784q, Labels: {0: 'no', 1: 'yes'}
Variable: v784r, Labels: {0: 'no', 1: 'yes'}
Variable: v784s, Labels: {0: 'no', 1: 'yes'}
Variable: v784t, Labels: {0: 'no', 1: 'yes'}
Variable: v784u, Labels: {0: 'no', 1: 'yes'}
Variable: v784v, Labels: {0: 'no', 1: 'yes'}
Variable: v784x, Labels: {0: 'no', 1: 'yes'}
Variable: v823, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v824, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v825, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v826, Labels: {1: 'less than 12 months', 2: '12-23 months', 3: '2 years or more'}
Variable: v826a, Labels: {95: 'two or more years', 98: "don't know"}
Variable: v827, Labels: {1: 'asked for the test', 2: 'offered and accepted', 3: 'required'}
Variable: v828, Labels: {0: 'no', 1: 'yes'}
Variable: v829, Labels: {11: 'government hospital', 12: 'government health center', 13: 'government health post', 16: 'other public sector', 21: 'ngo: health facility', 26: 'other ngo health facility', 31: 'private hospital', 32: 'private clinic', 36: 'other private medical', 41: 'home', 42: 'workplace', 43: 'correectional facility', 96: 'other', 98: "don't know"}
Variable: v837, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v838a, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v838b, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v838c, Labels: {0: 'no', 1: 'yes', 8: "don't know"}
Variable: v839, Labels: {0: 'no', 1: 'yes'}
Variable: v839a, Labels: {0: 'no', 1: 'yes'}
Variable: v840, Labels: {0: 'no', 1: 'yes'}
Variable: v840a, Labels: {0: 'no', 1: 'yes'}
Variable: v841, Labels: {0: 'no', 1: 'yes'}
Variable: v841a, Labels: {0: 'no', 1: 'yes'}
Variable: v842, Labels: {11: 'government hospital', 12: 'government health center', 13: 'government health post', 16: 'other public sector', 21: 'ngo: health facility', 26: 'other ngo health facility', 31: 'private hospital', 32: 'private clinic', 36: 'other private medical', 41: 'workplace', 42: 'correectional facility', 96: 'other', 98: "don't know"}
Variable: v843, Labels: {0: 'no', 1: 'yes'}
Variable: v844, Labels: {0: 'no', 1: 'yes', 8: "don't know anyone with hiv"}
Variable: v845, Labels: {0: 'no', 1: 'yes'}
Variable: v846, Labels: {0: 'no', 1: 'yes'}
Variable: v847, Labels: {0: 'disagree', 1: 'agree', 8: "don't know/no opinion"}
Variable: v848, Labels: {0: 'disagree', 1: 'agree', 8: "don't know/no opinion"}
Variable: v856, Labels: {0: 'never heard of hiv test kits', 1: 'has tested with hiv test kits', 2: 'knows test kits but never tested with them', 3: 'knows test kits un-known if tested'}
Variable: v857a, Labels: {0: 'no', 1: 'yes', 8: "don't know/not sure/depends"}
Variable: v857b, Labels: {0: 'no', 1: 'yes', 8: "don't know/not sure/depends"}
Variable: v857c, Labels: {0: 'no', 1: 'yes', 8: "don't know/not sure/depends"}
Variable: v857d, Labels: {0: 'no', 1: 'yes', 8: "don't know/not sure/depends"}
Variable: v858, Labels: {0: 'no', 1: 'yes', 2: 'says she has hiv', 8: "don't know/not sure/depends"}
Variable: s1058, Labels: {0: 'none', 98: "don't know"}
Variable: s1056, Labels: {0: 'no', 1: 'yes'}

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15683 entries, 0 to 15682
Columns: 106 entries, caseid to s1056
dtypes: category(100), int16(3), int32(1), int8(1), object(1)
memory usage: 1.8+ MB

In [7]:
data

,caseid,v001,v002,v005,v012,v013,v021,v024,v025,v026,...,v847,v848,v856,v857a,v857b,v857c,v857d,v858,s1058,s1056
0,00010017 02,1,17,5087433,38,35-39,1,oromia,rural,NaN,...,NaN,NaN,NaN,no,yes,no,no,no,none,no
1,00010017 03,1,17,5087433,17,15-19,1,oromia,rural,NaN,...,NaN,NaN,NaN,no,yes,yes,no,yes,NaN,NaN
2,00010018 02,1,18,5087433,42,40-44,1,oromia,rural,NaN,...,NaN,NaN,NaN,no,no,no,no,no,none,no
3,00010025 02,1,25,5087433,46,45-49,1,oromia,rural,NaN,...,NaN,NaN,NaN,yes,no,yes,yes,no,none,no
4,00010025 10,1,25,5087433,17,15-19,1,oromia,rural,NaN,...,NaN,NaN,NaN,no,yes,no,no,yes,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15678,06450419 04,645,419,685395,17,15-19,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,yes,yes,don't know/not sure/depends,don't know/not sure/depends,no,NaN,NaN
15679,06450449 02,645,449,685395,33,30-34,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,yes,no,no,no,no,1.0,yes
15680,06450464 02,645,464,685395,25,25-29,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,yes,no,no,no,no,none,yes
15681,06450464 04,645,464,685395,18,15-19,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,yes,yes,no,no,no,NaN,NaN
15682,06450485 02,645,485,685395,21,20-24,645,addis adaba,urban,NaN,...,NaN,NaN,NaN,no,yes,no,don't know/not sure/depends,yes,NaN,yes

In [8]:
data.describe()

               v001          v002          v005          v012          v021
count  15683.000000  15683.000000  1.568300e+04  15683.000000  15683.000000
mean     323.643244    242.769049  1.000000e+06     27.937321    323.643244
std      186.350386    141.050908  1.110347e+06      9.159282    186.350386
min        1.000000      0.000000  5.972000e+03     15.000000      1.000000
25%      161.000000    121.000000  1.156810e+05     20.000000    161.000000
50%      323.000000    242.000000  5.123670e+05     27.000000    323.000000
75%      486.000000    366.000000  1.836606e+06     35.000000    486.000000
max      645.000000    486.000000  5.781192e+06     49.000000    645.000000

In [9]:
# Count the number of null values per column
null_counts = data.isnull().sum()
null_counts

caseid       0
v001         0
v002         0
v005         0
v012         0
          ...
v857c     1314
v857d     1314
v858         0
s1058     7125
s1056     5859
Length: 106, dtype: int64

In [10]:
## remove columns from the DataFrame where every entry in the column is NaN.
df = data.dropna(axis=1, how='all')

# Display the cleaned DataFrame
print("\nDataFrame after dropping columns with all NaN values:")
df

DataFrame after dropping columns with all NaN values:

,caseid,v001,v002,v005,v012,v013,v021,v024,v025,v102,...,v841a,v842,v843,v857a,v857b,v857c,v857d,v858,s1058,s1056
0,00010017 02,1,17,5087433,38,35-39,1,oromia,rural,rural,...,NaN,NaN,NaN,no,yes,no,no,no,none,no
1,00010017 03,1,17,5087433,17,15-19,1,oromia,rural,rural,...,NaN,NaN,NaN,no,yes,yes,no,yes,NaN,NaN
2,00010018 02,1,18,5087433,42,40-44,1,oromia,rural,rural,...,NaN,NaN,NaN,no,no,no,no,no,none,no
3,00010025 02,1,25,5087433,46,45-49,1,oromia,rural,rural,...,NaN,NaN,NaN,yes,no,yes,yes,no,none,no
4,00010025 10,1,25,5087433,17,15-19,1,oromia,rural,rural,...,NaN,NaN,NaN,no,yes,no,no,yes,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15678,06450419 04,645,419,685395,17,15-19,645,addis adaba,urban,urban,...,NaN,NaN,NaN,yes,yes,don't know/not sure/depends,don't know/not sure/depends,no,NaN,NaN
15679,06450449 02,645,449,685395,33,30-34,645,addis adaba,urban,urban,...,NaN,government health center,no,yes,no,no,no,no,1.0,yes
15680,06450464 02,645,464,685395,25,25-29,645,addis adaba,urban,urban,...,NaN,government health center,no,yes,no,no,no,no,none,yes
15681,06450464 04,645,464,685395,18,15-19,645,addis adaba,urban,urban,...,NaN,NaN,NaN,yes,yes,no,no,no,NaN,NaN
15682,06450485 02,645,485,685395,21,20-24,645,addis adaba,urban,urban,...,NaN,NaN,NaN,no,yes,no,don't know/not sure/depends,yes,NaN,yes

In [11]:
# Remove columns with >90% missing values
columns_to_drop = df.columns[df.isnull().mean() > 0.9]
data_cleaned = df.drop(columns=columns_to_drop)

# Remove columns where all entries are NaN
data_cleaned = data_cleaned.dropna(axis=1, how='all')

data_cleaned

,caseid,v001,v002,v005,v012,v013,v021,v024,v025,v102,...,v841,v842,v843,v857a,v857b,v857c,v857d,v858,s1058,s1056
0,00010017 02,1,17,5087433,38,35-39,1,oromia,rural,rural,...,NaN,NaN,NaN,no,yes,no,no,no,none,no
1,00010017 03,1,17,5087433,17,15-19,1,oromia,rural,rural,...,NaN,NaN,NaN,no,yes,yes,no,yes,NaN,NaN
2,00010018 02,1,18,5087433,42,40-44,1,oromia,rural,rural,...,NaN,NaN,NaN,no,no,no,no,no,none,no
3,00010025 02,1,25,5087433,46,45-49,1,oromia,rural,rural,...,NaN,NaN,NaN,yes,no,yes,yes,no,none,no
4,00010025 10,1,25,5087433,17,15-19,1,oromia,rural,rural,...,NaN,NaN,NaN,no,yes,no,no,yes,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15678,06450419 04,645,419,685395,17,15-19,645,addis adaba,urban,urban,...,NaN,NaN,NaN,yes,yes,don't know/not sure/depends,don't know/not sure/depends,no,NaN,NaN
15679,06450449 02,645,449,685395,33,30-34,645,addis adaba,urban,urban,...,yes,government health center,no,yes,no,no,no,no,1.0,yes
15680,06450464 02,645,464,685395,25,25-29,645,addis adaba,urban,urban,...,yes,government health center,no,yes,no,no,no,no,none,yes
15681,06450464 04,645,464,685395,18,15-19,645,addis adaba,urban,urban,...,NaN,NaN,NaN,yes,yes,no,no,no,NaN,NaN
15682,06450485 02,645,485,685395,21,20-24,645,addis adaba,urban,urban,...,NaN,NaN,NaN,no,yes,no,don't know/not sure/depends,yes,NaN,yes

In [12]:
# Rename columns with variable names 
#df.columns = [meta_data.get(col, col) for col in df.columns]

#df

In [13]:
#df.columns

In [14]:
# Replace "Don't Know" (8) with NaN
data = df.replace(8, np.nan)

# Logical conditions for comprehensive knowledge
# Ignore rows with NaN values in any of the required columns
conditions = (
    (df['v754cp'] == 1) &  # Reduce risk: Always use condoms
    (df['v754dp'] == 1) &  # Reduce risk: One faithful partner
    (df['v754jp'] == 0) &  # Cannot get HIV from mosquito bites
    (df['v754wp'] == 0) &  # Cannot get HIV by sharing food
    (df['v756'] == 1)      # Healthy-looking person can have HIV
)

# Create the composite variable, handling NaN
data['Comprehensive_Knowledge'] = np.where(conditions, 1, 0)

# Display the updated DataFrame
print("DataFrame with Comprehensive Knowledge variable:")
data

DataFrame with Comprehensive Knowledge variable:

,caseid,v001,v002,v005,v012,v013,v021,v024,v025,v102,...,v842,v843,v857a,v857b,v857c,v857d,v858,s1058,s1056,Comprehensive_Knowledge
0,00010017 02,1.0,17.0,5087433,38,35-39,1.0,oromia,rural,rural,...,NaN,NaN,no,yes,no,no,no,none,no,0
1,00010017 03,1.0,17.0,5087433,17,15-19,1.0,oromia,rural,rural,...,NaN,NaN,no,yes,yes,no,yes,NaN,NaN,0
2,00010018 02,1.0,18.0,5087433,42,40-44,1.0,oromia,rural,rural,...,NaN,NaN,no,no,no,no,no,none,no,0
3,00010025 02,1.0,25.0,5087433,46,45-49,1.0,oromia,rural,rural,...,NaN,NaN,yes,no,yes,yes,no,none,no,0
4,00010025 10,1.0,25.0,5087433,17,15-19,1.0,oromia,rural,rural,...,NaN,NaN,no,yes,no,no,yes,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15678,06450419 04,645.0,419.0,685395,17,15-19,645.0,addis adaba,urban,urban,...,NaN,NaN,yes,yes,don't know/not sure/depends,don't know/not sure/depends,no,NaN,NaN,0
15679,06450449 02,645.0,449.0,685395,33,30-34,645.0,addis adaba,urban,urban,...,government health center,no,yes,no,no,no,no,1.0,yes,0
15680,06450464 02,645.0,464.0,685395,25,25-29,645.0,addis adaba,urban,urban,...,government health center,no,yes,no,no,no,no,none,yes,0
15681,06450464 04,645.0,464.0,685395,18,15-19,645.0,addis adaba,urban,urban,...,NaN,NaN,yes,yes,no,no,no,NaN,NaN,0
15682,06450485 02,645.0,485.0,685395,21,20-24,645.0,addis adaba,urban,urban,...,NaN,NaN,no,yes,no,don't know/not sure/depends,yes,NaN,yes,0

In [15]:
## displaying the counts of each taget value
data['Comprehensive_Knowledge'].value_counts()

Comprehensive_Knowledge
0    15683
Name: count, dtype: int64